@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.conteudo{
    margin: 88px 80px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-top: 8px;
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 4px;
}

img{
    border-radius: 28px;
    width: 100%;
}

#img1{
    height: 660px;
    background-position: center;
    width:  1120px;
}

#img2, #img3, #img4{
    height: 350px;
    width:  1120px;
    margin-bottom: 20px;
        background-position: center;

}

main div img {
  height: 375px;
  object-fit: cover; /* Ajusta a proporção da imagem para caber no container disponível pra ela sem distorcer */
  margin-top: 44px;
}

figcaption{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 16px;
    width: 1120px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
  margin-bottom: 64px;
}

header{
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
}

#context{
    margin-top: 8px;
}

p{
    text-align: justify;
    font-size: 16px;
    font-weight: regular;
}